 /*imported font 'Reem Kufi'*/
 @import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

 body {
     background-image: url('img/bgi.jpg');
     background-repeat: no-repeat;
     background-attachment: fixed;  
     background-size:cover;
     background-position-x: 1% ;
     background-position-y: 50%;
     background-size: auto; 
     margin: 0px
 }

 img {
     height: 50px;
     width: 50px;
     border-radius: 64px;
     border-color: white ;
     border-width: 0.5px;
     border-style: groove;
 }

 h1 {    
     font-family: "Reem Kufi";
     font-size: 50px;
     color: white;
 }
 z a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

z a:visited {
    color:white;
    background-color: transparent;
    text-decoration: none;
  }

 hr {
     color: white;
     height: 4px;
     background-color: black;

 }
 
 h2 {
     font-family: "Reem Kufi";
     font-size: 35px;
     padding: 0%;
     color: white;
     background-color: black;
     opacity: 0.7;

 }
button { 
     background-color: #000000;
     font-family: 'Reem Kufi';
     color: rgb(255, 255, 255);
     padding: 10px 15px;
     margin: 8px 0;
     border: none;
     cursor: pointer;
     width: 160px;
     opacity: 0.9;
     text-align: center;
     border-radius: 64px;
     font-size: 17px;
     float:right;
     color: white;
 }
 
 button:hover {
     opacity:1;
     color:black;
     background-color: white;
     border-color: black;
     border-style: double;
     border-width: 1px ;
     padding: 9px 14px;
     color:black;
 }

 /*navigation bar*/
 ul {
     list-style-type: none;
     margin: 2;
     padding: 0;
     position: fixed;
     bottom: 0;
     width: 97%;
     padding-bottom: 8px;
     }

 /*horizontal bar*/
 li {
     display: inline;
     
 }
 /*components of horizontal bar*/
 li a {
     display: block;
     color: rgb(0, 0, 0);
     font-size: 20px;
     text-align: center;
     padding: 5px 20px ;
     text-decoration: none;
     font-family: "Reem Kufi";
     float: left;
     color: white;
 }
 
 li a:hover {
     background-color:white;
     border-radius: 32px;
     color: black;
     }

 li b {
     display: block;
     color: rgb(0, 0, 0);
     font-size: 20px;
     text-align: center;
     padding: 5px 20px ;
     text-decoration: none;
     font-family: "Reem Kufi";
 }