<html>
    <head>
        <title> Aviagency </title>
    <link rel="icon" href="{{ url_for('static', filename='/img/favicon.ico')}}" type="image/x-icon"> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/contact.css')}}">
    </head>

    <body>
        <h1>
            <logo><img src="{{ url_for('static', filename='/img/logodaw.png')}}"></logo> 
            <z><a href="/Aviagency/home/welcome">AVIAGENCY</a></z>
        </h1>
        <h2>Contact Us</h2>
        <p>Phone Number : 9677114762 <br>
        Email address : aviagency@gmail.com <br>
        Address : Aviagency Head Office, Minambakkam Road,<br>
                  Near Palavanthangal Railway Station,<br>
                  Chennai, Tamil Nadu, 600027,</p>
        
        


        <ul>
            <li><a href="/Aviagency/home/welcome">Home</a></li>
            <li><a href="/Aviagency/contact">Contact</a></li>
            <li><a href="/Aviagency/aboutus">About</a></li>
        </ul> 

    </body>
</html>